.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages__list {
  display: flex;
  gap: 30px;
}
.advantages__item {
  flex-basis: calc((100% - 90px) / 4);
}
.advantages__item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4%;
  margin-bottom: 30px;
  background-image: url("../images/advent_img1.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.advantages__item:nth-child(2):before {
  background-image: url("../images/advent_img2.svg");
}
.advantages__item:nth-child(3):before {
  background-image: url("../images/advent_img3.svg");
}
.advantages__item:nth-child(4):before {
  background-image: url("../images/advent_img4.svg");
}
.advantages__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.advantages__text {
  margin-bottom: 30px;
  color: $add-color;
  font-size: 14px;
  line-height: 1.71;
}
