.customers {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.customers__link {
  width: 100%;
  height: 92px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  @include bordered-card(4px);
  border: 1px solid #afb1b8;
  @include transition(border-color);
  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}
.customers__icon {
  fill: #afb1b8;
  @include transition(fill);
  .customers__link:hover &,
  .customers__link:focus & {
    fill: $accent-color;
  }
}
.customers__title {
  color: $main-color;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
  margin-bottom: 50px;
  }
}
.customers__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}
.customers__item {
  flex-basis: calc((100% - 30px)/2);
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px)/3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 150px)/6);
  }
}
