.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background_img-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url('../images/background_img-mob@2x.jpg');
  }
  @media screen and (min-width: 768px) {
    background-image: url('../images/background_img-tab.jpg');
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url('../images/background_img-tab@2x.jpg');
    }
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url('../images/background_img.jpg');
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url('../images/background_img1@2x.jpg');
    }
  }
 
}
.hero__title {
  color: $add-white;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
  }
}
// тут в мене стилі одразу до кількох тайтлів, але я поки не чипаю, бо це ж в компонентах буде ніби
.team__title,
.work__title,
.gallery__subtitle,
.advantages__item-title {
  color: $main-color;
}
