.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background_img.jpg);
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: center;
}
.hero__title {
  color: $add-white;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
// тут в мене стилі одразу до кількох тайтлів, але я поки не чипаю, бо це ж в компонентах буде ніби
.team__title,
.work__title,
.gallery__subtitle,
.advantages__item-title {
  color: $main-color;
}
.hero__btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  color: $add-white;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.96px;
  background: $accent-color;
  width: 216px;
  height: 50px;
  border: none;
  border-color: $accent-color;
  border-radius: 4px;
  transition-property: box-shadow, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    opacity: 0.9;
  }
}
