.work {
  padding-bottom: 94px;
}
.work__list {
  display: flex;
  gap: 30px;
}
.work__item {
  position: relative;
}
.work__title {
font-weight: 700;
font-size: 36px;
text-align: center;
margin-bottom: 50px;
}
.work__subtitle {
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
}
.work__subtitle {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  color: $add-white;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}
