.logo {
  color: #000000;
  margin-right: 93px;
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
}
.accent {
  color: $accent-color;
}
.footer__logo {
  color: $add-white;
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
}
