
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background_img.jpg);
    background-repeat: no-repeat;
    background-size: 1600px;
    background-position: center;
  }
  .hero-title {
    color: #fff;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
  }
  .team-title,
  .work-title,
  .gallery-subtitle,
  .advantages-item-title {
    color: var(--main-color);
  }
  .hero-btn {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.96px;
    background: var(--accent-color);
    width: 216px;
    height: 50px;
    border: none;
    border-color: var(--accent-color);
    border-radius: 4px;
    transition-property: box-shadow, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-btn:hover,
  .hero-btn:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    opacity: 0.9;
  }
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .advantages-list {
    display: flex;
    gap: 30px;
  }
  .advantages-item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .advantages-item::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4%;
    margin-bottom: 30px;
    background-image: url("../images/advent_img1.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .advantages-item:nth-child(2):before {
    background-image: url("../images/advent_img2.svg");
  }
  .advantages-item:nth-child(3):before {
    background-image: url("../images/advent_img3.svg");
  }
  .advantages-item:nth-child(4):before {
    background-image: url("../images/advent_img4.svg");
  }
  .advantages-item-title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .advantages-item-text {
    margin-bottom: 30px;
    color: #757575;
    font-size: 14px;
    line-height: 1.71;
  }
  .work {
    padding-bottom: 94px;
  }
  .work-list {
    display: flex;
    gap: 30px;
  }
  .work-list-item {
    position: relative;
  }
  .work-title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.08px;
  }
  .work-list-item > .work-list-item-title {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    color: var(--add-white);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
  }
  .team {
    padding-top: 94px;
    background-color: #f5f4fa;
    padding-bottom: 94px;
  }
  .team-list {
    display: flex;
    gap: 30px;
  }
  .team-item {
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--add-white);
  }
  .team-title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.08px;
  }
  .team-wrapper-info {
    padding: 30px 32px;
  }
  .team-subtitle {
    color: var(--main-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
  }
  .team-text {
    margin-top: 10px;
    color: var(--add-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
  }
  .soc-list {
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
  }
  .soc-link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .soc-link:hover,
  .soc-icon:focus {
    background-color: var(--accent-color);
  }
  .soc-link:hover .soc-icon,
  .soc-link:focus .soc-icon {
    fill: var(--add-white);
  }
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .customers-link {
    display: flex;
    width: 170px;
    height: 92px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customers-icon {
    fill: #afb1b8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customers-link:hover,
  .customers-link:focus {
    border-color: var(--accent-color);
  }
  .customers-link:hover .customers-icon,
  .customers-link:focus .customers-icon {
    fill: var(--accent-color);
  }
  .soc-title {
    padding-top: 12px;
    color: var(--add-white);
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
  }
  .soc-icon {
    fill: var(--add-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customers-title {
    color: var(--main-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
  .logo-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }